# 计算文件各种类型、属性的数量
### 测试有多少个值未知

In [1]:
from collections import defaultdict

In [2]:
def validate(filename, headers):
    count_class = {class_name:0 for class_name in list(filter(lambda x : x[0] == "class", headers))[0][1]}
    count_nominal = {att:defaultdict(int) for att,att_type in headers if att != "class" and att_type < 2}
    count_numeric = defaultdict(int)
    count_numeric_unknown = defaultdict(int)
    with open(filename,"r") as file:
        for line in file:
            
            cels = line.strip().split(",")
            if not cels or not cels[0] :
                continue               
            assert len(cels) == len(headers)
            
            i = 0
            for name,data_type in headers:
                val = cels[i]
                if name == "class":
                    assert val in data_type
                    count_class[val] += 1
                elif data_type < 2:
                    count_nominal[name][val] += 1
                else:
                    assert val.isdigit() or val == "?" 
                    if val.isdigit():
                        count_numeric[name] += 1
                    else:
                        count_numeric_unknown[name] += 1 
                i+=1
    
    print("{0}:".format("class"), " / ".join(["{0} {1}".format(key, val) for key,val in sorted(count_class.items())]))
    for name,data_type in headers:
        if name != "class":
            if data_type < 2:
                print("{0}:\n   ".format(name), "\n    ".join(["{0} {1}".format(key, val) for key,val in sorted(count_nominal[name].items())]))
            else:
                print("{0}: known {1} / unkown {2}".format(name, count_numeric[name], count_numeric_unknown[name]))

In [3]:
#headers顺序按文件顺序， 是第几个就放第几个
#class也按顺序,第一列就摆第一个
#0=nominal, 1=ordinal, 2=numeric

headers = (
    ("age", 2),
    ("workclass", 0),
    ("fnlwgt", 2),
    ("education", 1),
    ("education-num", 1),
    ("marital-status", 0),
    ("occupation", 0),
    ("relationship", 0),
    ("race", 0),
    ("sex", 0),
    ("capital-gain", 2),
    ("capital-loss", 2),
    ("hours-per-week", 2),
    ("native-country", 0),
    ("class", ("<=50K" , ">50K"))
)

validate("datasets/adult.data", headers)

class: <=50K 24720 / >50K 7841
age: known 32561 / unkown 0
workclass:
    ? 1836
    Federal-gov 960
    Local-gov 2093
    Never-worked 7
    Private 22696
    Self-emp-inc 1116
    Self-emp-not-inc 2541
    State-gov 1298
    Without-pay 14
fnlwgt: known 32561 / unkown 0
education:
    10th 933
    11th 1175
    12th 433
    1st-4th 168
    5th-6th 333
    7th-8th 646
    9th 514
    Assoc-acdm 1067
    Assoc-voc 1382
    Bachelors 5355
    Doctorate 413
    HS-grad 10501
    Masters 1723
    Preschool 51
    Prof-school 576
    Some-college 7291
education-num:
    1 51
    10 7291
    11 1382
    12 1067
    13 5355
    14 1723
    15 576
    16 413
    2 168
    3 333
    4 646
    5 514
    6 933
    7 1175
    8 433
    9 10501
marital-status:
    Divorced 4443
    Married-AF-spouse 23
    Married-civ-spouse 14976
    Married-spouse-absent 418
    Never-married 10683
    Separated 1025
    Widowed 993
occupation:
    ? 1843
    Adm-clerical 3770
    Armed-Forces 9
    Craft-repair 4099
    Exec-managerial 4066
    Farming-fishing 994
    Handlers-cleaners 1370
    Machine-op-inspct 2002
    Other-service 3295
    Priv-house-serv 149
    Prof-specialty 4140
    Protective-serv 649
    Sales 3650
    Tech-support 928
    Transport-moving 1597
relationship:
    Husband 13193
    Not-in-family 8305
    Other-relative 981
    Own-child 5068
    Unmarried 3446
    Wife 1568
race:
    Amer-Indian-Eskimo 311
    Asian-Pac-Islander 1039
    Black 3124
    Other 271
    White 27816
sex:
    Female 10771
    Male 21790
capital-gain: known 32561 / unkown 0
capital-loss: known 32561 / unkown 0
hours-per-week: known 32561 / unkown 0
native-country:
    ? 583
    Cambodia 19
    Canada 121
    China 75
    Columbia 59
    Cuba 95
    Dominican-Republic 70
    Ecuador 28
    El-Salvador 106
    England 90
    France 29
    Germany 137
    Greece 29
    Guatemala 64
    Haiti 44
    Holand-Netherlands 1
    Honduras 13
    Hong 20
    Hungary 13
    India 100
    Iran 43
    Ireland 24
    Italy 73
    Jamaica 81
    Japan 62
    Laos 18
    Mexico 643
    Nicaragua 34
    Outlying-US(Guam-USVI-etc) 14
    Peru 31
    Philippines 198
    Poland 60
    Portugal 37
    Puerto-Rico 114
    Scotland 12
    South 80
    Taiwan 51
    Thailand 18
    Trinadad&Tobago 19
    United-States 29170
    Vietnam 67
    Yugoslavia 16